<% provide(:title, 'Hash built in JS') %>


<h1>Hash built in JS</h1>
<input type="button" value="asdasd"
       onclick=
           '
               var hs = new Hsh();
               var t = hs.NewHashElement(3);
               var h = hs.CreateHash(t);
               alert (JSON.stringify(h));
           '>

