<% provide(:title, 'Hash built in JS') %>


<h1>Hash built in JS</h1>
<input id="button1" class="btn btn-sm btn-primary" type="button" value="Generate new hash">

<h3>My initially generated hash: </h3>


<pre id="init">
</pre>

