<% provide(:title, 'Hash built in JS') %>


<h1>Hash built in JS</h1>
<input id="button1" class="btn btn-sm btn-primary" type="button" value="Generate new hash">


<h3>My initially generated hash: </h3>
<pre id="init">
</pre>


<h3>Array of elements used in initial Hash: </h3>
<pre id="array">
</pre>


<h3>Array of elements used in initial Hash with maximum value: </h3>
<pre id="array_max">
</pre>


<h3>Array of elements used in initial Hash without nil values: </h3>
<pre id="array_nonil">
</pre>